.filter {

    >.content {
        position: relative;
        width: 100%;
        height: 100%;

        .scroll {
            position: relative;

            width: 100%;
            height: auto;
            max-height: calc(100% - 60px);

            overflow: auto; 

            margin-bottom: 10px;

            &::-webkit-scrollbar {
                display: none;
            }

            .basic {
                position: relative;
    
                width: 100%;    
                min-height: 200px;
                height: auto;

                margin-bottom: 10px;
                
            }
    
            .specific {
                position: relative;
    
                width: 100%;
                height: auto;

            }
        }

        .actions {
            position: relative;
            width: 100%;

            height: 36px;

            margin-bottom: 10px;

            display: flex;
            justify-content: space-between;

            .action {
                position: relative;

                width: calc(var(--filter-width) / 2 - 10px);
                height: 100%;

                border: var(--default-border);
                border-radius: var(--radius);

                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: var(--primary-color);
                    color: white;
                    cursor: pointer;
                }

                .text {
                    font-size: 16px;


                }
            }
        }
    
    }
    
}

.filter {

    .element {
        position: relative;

        width: 100%;
        height: auto;

        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            font-size: 16px;

            position: relative; 
            width: 100%;
            
            
        }

        .filter-element-content {
            position: relative;

            height: auto;
            width: 100%;

            margin-top: auto;

        }
    }

    .between-values {
        position: relative;
        width: 100%;
        height: 40px;
        
        display: flex;
        justify-content: space-between;

        >.input-field {
            position: relative;

            height: 100%;
            width: 120px;

            border: var(--default-border);
            outline: none;

            border-radius: var(--radius);
            
            >input {
                position: absolute;
                width: calc(100% - 10px);
                height: 100%;

                left: 50%;
                transform: translateX(-50%);

                border: none;
                outline: none;
            }
        }

        

        >.icon {
            position: relative;
            color: var(--primary-color);

            height: 100%;
        }
    }

}

