.listingpage {

    position: absolute;

    width: 100%;
    height: 100%;

    .content {
        position: absolute;

        width: var(--max-width);

        top: var(--header-height);
        left: 50%;

        transform: translateX(-50%);

        height: var(--content-height);

        border: 1px solid rgba(225,225,225,255);

        .basic-information {
            position: absolute;

            width: 620px;
            height: 500px;

            top: 50px;
            right: 50px;


            >.title {
                position: relative;
    
                width: 100%;
                height: 95px;
    
                border-bottom: var(--default-border);

                
                h1 {
                    font-size: 30px;
                    font-weight: 700;
                    color: var(--primary-color);
                }
            }

            >.seller-info-container {
                position: relative;
    
                width: 100%;
                height: 80px;

            }
        }

        
        

        
    
        .image-group-container {
            position: absolute;

            width: 700px;
            height: 600px;

            top: 50px;
            left: 50px;
        }
    
    }
}

